// Must be your keys

PORT=

DATABASE=
DATABASE_PASSWORD=
DATABASE_LOCAL=

EMAIL_FROM=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=

JWT_COOKIE_EXPIRES_IN=
JWT_EXPIRES_IN=
JWT_SECRET=

NODE_ENV=

SENDGRID_PASSWORD=
SENDGRID_USERNAME=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
